<nav class="">
   <div
      class="flex w-11/12 m-auto justify-between h-[64px] max-w-[1240px]"
   >
      <div class="flex w-3/4 h-full items-center">
         <div class="mr-5 w-[134px]">
            <a href="#" type="_self">
               <img src="./src/svg/logo.svg" alt="logo" />
            </a>
         </div>
         <div class="relative w-full">
            <div
               class="flex items-center opacity-[1] border border-solid border-[rgb(225 224 224)] rounded w-[549px] cursor-text"
            >
               <div class="w-[39px] h-[34px] items-center">
                  <img
                     style="width: 13px; height: 13px; margin: 10px 12px"
                     src="./src/svg/searchIcon.svg"
                  />
               </div>
               <span
                  class="text-[14px] text-[rgb(153,153,153)] font-normal"
                  >Search for Movies, Events, Plays, Sports and
                  Activities</span
               >
            </div>
         </div>
      </div>
      <div class="flex h-full items-center gap-6">
         <div
            class="flex items-center gap-3 text-[14px] font-normal cursor-pointer"
         >
            Kochi
            <img src="./src/svg/dropDown.svg" />
         </div>
         <div class="flex items-center gap-6">
            <button
               class="bg-[rgb(248,68,100)] rounded border-solid border-[rgb(248,68,100)] text-white leading-[25px] h-[25px] text-[12px] w-[67px]"
            >
               Sign in
            </button>
            <div class="cursor-pointer">
               <img src="./src/svg/menu.svg" alt="menu" />
            </div>
         </div>
      </div>
   </div>
   <div class="bg-[rgb(31,37,51)] h-[40px]">
      <div
         class="bg-[rgb(245,245,245)] w-full border-b border-b-[rgb(229,229,229)] border-solid text-[#333] h-full"
      >
         <div
            class="flex w-11/12 m-auto justify-between max-w-[1240px] h-full"
         >
            <div class="h-full">
               <div
                  class="gap-5 text-[14px] font-normal text-[rgb(51,51,51)] flex items-center h-full"
               >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Movies</a
                  >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Steam</a
                  >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Events</a
                  >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Plays</a
                  >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Sports</a
                  >
                  <a
                     href="http://"
                     target="_blank"
                     rel="noopener noreferrer"
                     >Activities</a
                  >
               </div>
            </div>
            <div
               class="gap-5 text-[12px] font-normal text-[rgb(51,51,51)] flex items-center h-full"
            >
               <a href="http://" target="_blank" rel="noopener noreferrer"
                  >ListYourShow</a
               >
               <a href="http://" target="_blank" rel="noopener noreferrer"
                  >Corporates</a
               >
               <a href="http://" target="_blank" rel="noopener noreferrer"
                  >Offers</a
               >
               <a href="http://" target="_blank" rel="noopener noreferrer"
                  >Gift Cards</a
               >
            </div>
         </div>
      </div>
   </div>
</nav>